$white: #fff;
$classNames: 'purple', 'orange', 'blue';
$buttonColor: #a9004b, #ff863f, #0000ff;
$marginSize: 'left_margin', 'center_margin', 'right_margin';
$left: 10px, 5px, 5px;
$right: 5px, 5px, 10px;

$navy: #141f40;
$green: #80bfa8;
$red: #8c2727;
$brown: #d98d30;

